Labs/Flows/spaceStation.flow
[{"id":"9b46958.ce6a368","type":"tab","label":"Space Station update","disabled":false,"info":""},{"id":"a9be280c.f004d8","type":"inject","z":"9b46958.ce6a368","name":"Every 5 sec","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":130,"y":100,"wires":[["c5bf6cce.78d2f"]]},{"id":"ed24894e.c2707","type":"http request","z":"9b46958.ce6a368","name":"","method":"GET","ret":"obj","url":"http://api.open-notify.org/iss-now.json","tls":"","x":610,"y":100,"wires":[["4a06a917.1074b8","4586a2ff.c4e2ac"]]},{"id":"4a06a917.1074b8","type":"debug","z":"9b46958.ce6a368","name":"","active":false,"console":"false","complete":"false","x":810,"y":100,"wires":[]},{"id":"4586a2ff.c4e2ac","type":"function","z":"9b46958.ce6a368","name":"Extract ISS Location","func":"var iss_location = msg.payload.iss_position;\n\nmsg.payload = { \n        name : \"International Space Station\",\n        lat  : parseFloat(iss_location.latitude),\n        lon  : parseFloat(iss_location.longitude),\n        icon: \"iss\",\n        iconColor:'#900000',\n        command : { \"zoom\" : 3 }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["8a2f98ed.cbbb08","9d017892.d58c28","991ab523.dc1c78"]]},{"id":"8a2f98ed.cbbb08","type":"debug","z":"9b46958.ce6a368","name":"","active":true,"console":"false","complete":"false","x":410,"y":320,"wires":[]},{"id":"c5f1b810.713fc","type":"comment","z":"9b46958.ce6a368","name":"Query the location of the International Space Station","info":"","x":234.44444444444446,"y":64.44444444444443,"wires":[]},{"id":"c5bf6cce.78d2f","type":"ui_switch","z":"9b46958.ce6a368","name":"","label":"switch","tooltip":"","group":"9813997d.68df88","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":100,"wires":[["facf4978.0c9fc8"]]},{"id":"facf4978.0c9fc8","type":"switch","z":"9b46958.ce6a368","name":"Switch On","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":440,"y":100,"wires":[["ed24894e.c2707"]]},{"id":"9d017892.d58c28","type":"worldmap-tracks","z":"9b46958.ce6a368","name":"","depth":"100","x":410,"y":240,"wires":[["991ab523.dc1c78"]]},{"id":"991ab523.dc1c78","type":"ui_worldmap","z":"9b46958.ce6a368","group":"66464e0a.235a1","order":0,"width":"15","height":"15","name":"","lat":"","lon":"","zoom":"5","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":560,"y":280,"wires":[]},{"id":"9813997d.68df88","type":"ui_group","z":"","name":"Start/Stop","tab":"c1fc79b.7049e88","order":1,"disp":true,"width":"3","collapse":false},{"id":"66464e0a.235a1","type":"ui_group","z":"9b46958.ce6a368","name":"Space Station","tab":"c1fc79b.7049e88","order":2,"disp":true,"width":"20"},{"id":"c1fc79b.7049e88","type":"ui_tab","z":"9b46958.ce6a368","name":"International Space Station Location 2","icon":"fa-space-shuttle","order":10,"disabled":false,"hidden":false}]