Labs/Flows/spaceStation.flow
[
    {
        "id": "866d6f17.f600b",
        "type": "tab",
        "label": "Space Station",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e12ea4cc.7b353",
        "type": "inject",
        "z": "866d6f17.f600b",
        "name": "Every 5 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "fc52af32.e4de7"
            ]
        ]
    },
    {
        "id": "3b7b131e.f870bc",
        "type": "http request",
        "z": "866d6f17.f600b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "http://api.open-notify.org/iss-now.json",
        "tls": "",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "597ff1c.fd7771",
                "3b11f656.9a8c32"
            ]
        ]
    },
    {
        "id": "597ff1c.fd7771",
        "type": "debug",
        "z": "866d6f17.f600b",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b11f656.9a8c32",
        "type": "function",
        "z": "866d6f17.f600b",
        "name": "Extract ISS Location",
        "func": "var iss_location = msg.payload.iss_position;\n\nmsg.payload = { \n        name : \"International Space Station\",\n        lat  : parseFloat(iss_location.latitude),\n        lon  : parseFloat(iss_location.longitude),\n        icon: \"iss\",\n        iconColor:'#900000',\n        command : { \"zoom\" : 3 }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "a94712da.f21428",
                "9f1787f0.2427d",
                "67bba7d9.da8888"
            ]
        ]
    },
    {
        "id": "a94712da.f21428",
        "type": "debug",
        "z": "866d6f17.f600b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "b8ab02e3.e69e8",
        "type": "comment",
        "z": "866d6f17.f600b",
        "name": "Query the location of the International Space Station",
        "info": "",
        "x": 234.44444444444446,
        "y": 64.44444444444443,
        "wires": []
    },
    {
        "id": "fc52af32.e4de7",
        "type": "ui_switch",
        "z": "866d6f17.f600b",
        "name": "",
        "label": "switch",
        "group": "a5c8c017.95a31",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "b493551b.2e5b78"
            ]
        ]
    },
    {
        "id": "b493551b.2e5b78",
        "type": "switch",
        "z": "866d6f17.f600b",
        "name": "Switch On",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "3b7b131e.f870bc"
            ]
        ]
    },
    {
        "id": "9f1787f0.2427d",
        "type": "worldmap-tracks",
        "z": "866d6f17.f600b",
        "name": "",
        "depth": "100",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "67bba7d9.da8888"
            ]
        ]
    },
    {
        "id": "67bba7d9.da8888",
        "type": "ui_worldmap",
        "z": "866d6f17.f600b",
        "group": "38406be9.6b3bc4",
        "order": 1,
        "width": "20",
        "height": "15",
        "name": "",
        "lat": "0",
        "lon": "0",
        "zoom": "3",
        "layer": "Esri Satellite",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/worldmap",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5c8c017.95a31",
        "type": "ui_group",
        "z": "",
        "name": "Start/Stop",
        "tab": "71321b67.a0112c",
        "order": 1,
        "disp": true,
        "width": "3"
    },
    {
        "id": "38406be9.6b3bc4",
        "type": "ui_group",
        "z": "866d6f17.f600b",
        "name": "Space Station",
        "tab": "71321b67.a0112c",
        "order": 2,
        "disp": true,
        "width": "20"
    },
    {
        "id": "71321b67.a0112c",
        "type": "ui_tab",
        "z": "866d6f17.f600b",
        "name": "International Space Station Location",
        "icon": "fa-space-shuttle",
        "order": 10
    }
]