Labs/Flows/textAnalyzer.flow
[{"id":"6bd4a854.5eb0f8","type":"tab","label":"Text Analyzer","disabled":false,"info":""},{"id":"9f5a06d5.2f4dd","type":"inject","z":"6bd4a854.5eb0f8","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":80,"wires":[["182a4a3b.2299d6"]]},{"id":"4b98e380.7748b4","type":"inject","z":"6bd4a854.5eb0f8","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":140,"wires":[["182a4a3b.2299d6"]]},{"id":"251b1a3a.08154e","type":"inject","z":"6bd4a854.5eb0f8","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":140,"y":200,"wires":[["182a4a3b.2299d6"]]},{"id":"182a4a3b.2299d6","type":"watson-tone-analyzer-v3","z":"6bd4a854.5eb0f8","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"","x":360,"y":140,"wires":[["d42c69fe.93da68","8b0cc0dd.556ce","1c5b9799.ae3a58"]]},{"id":"d42c69fe.93da68","type":"debug","z":"6bd4a854.5eb0f8","name":"Print msg.response","active":true,"console":"false","complete":"response","x":570,"y":120,"wires":[]},{"id":"1c5b9799.ae3a58","type":"function","z":"6bd4a854.5eb0f8","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":300,"wires":[["450d9826.89d518","fed83d4d.4a1a6"]]},{"id":"450d9826.89d518","type":"debug","z":"6bd4a854.5eb0f8","name":"Score","active":true,"console":"false","complete":"topic","x":370,"y":300,"wires":[]},{"id":"fed83d4d.4a1a6","type":"switch","z":"6bd4a854.5eb0f8","name":"Select Emotion","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":140,"y":460,"wires":[["546989f3.ded69"],["a43a27c9.728e8"],["3afc9aa5.084a46"],["3a77e56b.67913a"],["1592df9f.3710e8"]]},{"id":"a43a27c9.728e8","type":"change","z":"6bd4a854.5eb0f8","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":440,"wires":[["968439fc.78a82"]]},{"id":"3a77e56b.67913a","type":"change","z":"6bd4a854.5eb0f8","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":560,"wires":[["968439fc.78a82"]]},{"id":"3afc9aa5.084a46","type":"change","z":"6bd4a854.5eb0f8","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":500,"wires":[["968439fc.78a82"]]},{"id":"546989f3.ded69","type":"change","z":"6bd4a854.5eb0f8","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["968439fc.78a82"]]},{"id":"e9180de1.cdf778","type":"debug","z":"6bd4a854.5eb0f8","name":"Tone categories","active":true,"console":"false","complete":"payload","x":780,"y":180,"wires":[]},{"id":"8b0cc0dd.556ce","type":"change","z":"6bd4a854.5eb0f8","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["e9180de1.cdf778"]]},{"id":"93257168.1649e8","type":"watson-text-to-speech","z":"6bd4a854.5eb0f8","name":"text to speech","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_EnriqueVoice","voicehidden":"es-ES_EnriqueVoice","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":860,"y":340,"wires":[["bf8e01f3.7b9e28"]]},{"id":"968439fc.78a82","type":"template","z":"6bd4a854.5eb0f8","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This tweet expresses {{topic}} - {{tweet.text}}","output":"str","x":470,"y":420,"wires":[["354ff943.f6281e","9ed7352a.372b2"]]},{"id":"354ff943.f6281e","type":"debug","z":"6bd4a854.5eb0f8","name":"","active":true,"console":"false","complete":"false","x":550,"y":540,"wires":[]},{"id":"9ed7352a.372b2","type":"watson-translator","z":"6bd4a854.5eb0f8","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":670,"y":380,"wires":[["c11f5c7.16913a","93257168.1649e8"]]},{"id":"c11f5c7.16913a","type":"debug","z":"6bd4a854.5eb0f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":460,"wires":[]},{"id":"bf8e01f3.7b9e28","type":"change","z":"6bd4a854.5eb0f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":420,"wires":[["ccae3402.b3a2c"]]},{"id":"ccae3402.b3a2c","type":"play audio","z":"6bd4a854.5eb0f8","name":"","voice":"","x":790,"y":540,"wires":[]},{"id":"1592df9f.3710e8","type":"change","z":"6bd4a854.5eb0f8","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":620,"wires":[["968439fc.78a82"]]}]