Labs/Flows/tweetAnalyzer.flow
[
    {
        "id": "58315e4d.459818",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc39977.3caeae8",
        "type": "inject",
        "z": "58315e4d.459818",
        "name": "Happy test",
        "topic": "",
        "payload": "{\"text\":\"every one is awesome\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "cfb76d7b.da40b8"
            ]
        ]
    },
    {
        "id": "cfb76d7b.da40b8",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tweet",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "ab1cedc8.2eb728"
            ]
        ]
    },
    {
        "id": "e0c01812.3da148",
        "type": "inject",
        "z": "58315e4d.459818",
        "name": "Sadness test",
        "topic": "",
        "payload": "{\"text\":\"This is miserable and sad\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "cfb76d7b.da40b8"
            ]
        ]
    },
    {
        "id": "4d93bd52.2982ec",
        "type": "inject",
        "z": "58315e4d.459818",
        "name": "Angry test",
        "topic": "",
        "payload": "{\"text\":\"I hate this demo\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "cfb76d7b.da40b8"
            ]
        ]
    },
    {
        "id": "6179bc72.e7fda4",
        "type": "watson-text-to-speech",
        "z": "58315e4d.459818",
        "name": "text to speech",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_LisaV2Voice",
        "voicehidden": "es-ES_EnriqueVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": false,
        "service-endpoint": "",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "4f21c2d9.bb7754"
            ]
        ]
    },
    {
        "id": "ab1cedc8.2eb728",
        "type": "function",
        "z": "58315e4d.459818",
        "name": "Remove URLS and replace #",
        "func": "var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "2d63bc1.9488744",
                "c71c0890.6ff7c8"
            ]
        ]
    },
    {
        "id": "2d63bc1.9488744",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "73ae89ec.0448d",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "Tone categories",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "902f6079.9a3ac8",
        "type": "function",
        "z": "58315e4d.459818",
        "name": "High Score",
        "func": "var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "98bf168.5e1b6e8",
                "f1b94213.d701e"
            ]
        ]
    },
    {
        "id": "98bf168.5e1b6e8",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "Score",
        "active": true,
        "console": "false",
        "complete": "topic",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "2622c7c3.285fb",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "Print msg.response",
        "active": true,
        "console": "false",
        "complete": "response",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "c71c0890.6ff7c8",
        "type": "watson-tone-analyzer-v3",
        "z": "58315e4d.459818",
        "name": "Analyze Tone",
        "tones": "emotion",
        "sentences": "true",
        "contentType": "false",
        "tone-method": "generalTone",
        "interface-version": "2016-05-19",
        "service-endpoint": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "902f6079.9a3ac8",
                "2622c7c3.285fb",
                "14b696c.2cc9069"
            ]
        ]
    },
    {
        "id": "14b696c.2cc9069",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "tone_categories",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "response.document_tone.tone_categories",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "73ae89ec.0448d"
            ]
        ]
    },
    {
        "id": "f1b94213.d701e",
        "type": "switch",
        "z": "58315e4d.459818",
        "name": "Select Emotion",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Joy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Fear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sadness",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Anger",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Disgust",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "f99f7a60.42be1"
            ],
            [
                "9dd0ef2a.3ebb88"
            ],
            [
                "dde7bb09.88b748"
            ],
            [
                "e5e31605.4fb3f"
            ],
            [
                "983632ae.fe6568"
            ]
        ]
    },
    {
        "id": "9dd0ef2a.3ebb88",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "Fear",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0,255,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "b03359f3.bc0fe"
            ]
        ]
    },
    {
        "id": "e5e31605.4fb3f",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "Anger",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255,0,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "b03359f3.bc0fe"
            ]
        ]
    },
    {
        "id": "dde7bb09.88b748",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "Sadness",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0,0,255",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 500,
        "wires": [
            [
                "b03359f3.bc0fe"
            ]
        ]
    },
    {
        "id": "f99f7a60.42be1",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "Joy",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "255,255,0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "b03359f3.bc0fe"
            ]
        ]
    },
    {
        "id": "983632ae.fe6568",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "Disgust",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "221,160,221",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "b03359f3.bc0fe"
            ]
        ]
    },
    {
        "id": "b03359f3.bc0fe",
        "type": "template",
        "z": "58315e4d.459818",
        "name": "Score tweet",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This tweet expresses {{topic}} - {{tweet.text}}",
        "output": "str",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "6030dfe6.32d16",
                "74bca4b1.6a338c"
            ]
        ]
    },
    {
        "id": "6030dfe6.32d16",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "74bca4b1.6a338c",
        "type": "watson-translator",
        "z": "58315e4d.459818",
        "name": "",
        "action": "translate",
        "basemodel": "en-tr",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "password": "",
        "apikey": "",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "en-tr",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "2ab729b2.a0c56e",
                "6179bc72.e7fda4"
            ]
        ]
    },
    {
        "id": "2ab729b2.a0c56e",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "4f21c2d9.bb7754",
        "type": "change",
        "z": "58315e4d.459818",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "speech",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "5d1b2663.746658"
            ]
        ]
    },
    {
        "id": "e221ea90.63ebc8",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "msg.tweet details",
        "active": true,
        "console": "false",
        "complete": "tweet",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "851c83c0.19d4c8",
        "type": "debug",
        "z": "58315e4d.459818",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "tweet.text",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "4b0fac57.10bfc4",
        "type": "comment",
        "z": "58315e4d.459818",
        "name": "Pick a #hashtag to follow",
        "info": "",
        "x": 200,
        "y": 20,
        "wires": []
    },
    {
        "id": "14009387.cc1de4",
        "type": "twitter in",
        "z": "58315e4d.459818",
        "tags": "",
        "user": "false",
        "name": "",
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "e221ea90.63ebc8",
                "851c83c0.19d4c8",
                "ab1cedc8.2eb728"
            ]
        ]
    },
    {
        "id": "5d1b2663.746658",
        "type": "play audio",
        "z": "58315e4d.459818",
        "name": "",
        "voice": "",
        "x": 1110,
        "y": 440,
        "wires": []
    }
]